body {
  margin: 0;
  background: url(images/bg.jpg) repeat-x top;
  font-family: 'Droid Sans', sans-serif;
  color: #505153;
}

body>header{
  text-align: center;
  text-transform: uppercase;
}

ul {
  list-style: none;
}

#logo {
  background: url(images/logo.png) no-repeat center;
  height: 260px;
}

#banner {
  background: url(images/banner.png) no-repeat center;
  height: 371px;
}

.dark-box {
  color: #fff;
  background: #505050;
}

.red-box {
  color: #fff;
  background: #dc4f45;
}

.color-box {
  min-height: 11em;
  text-align: center;
}

#telefone, #moto {
  padding: 3.3em 0;
}

#telefone>div {
  text-align: left;
  margin-left: 1em;
  background: url(images/telefone.png) no-repeat left;
  width: 250px;
  margin: 0 auto;
  padding-left: 70px;
}

#telefone h1 {
  margin: 0;
}

#moto>div {
  background: url(images/moto.png) no-repeat left;
  width: 85px;
  height: 54px;
  margin: auto;
}

.descricao {
  padding: 1em 0;
  text-transform: uppercase;
}

#Text1 {
  margin: 0 auto;
  padding: 1.5em 0 0 0;
  width: 6em;
  text-align: left;
}

#endereco ul {
  padding-top: 2em;
  text-align: left;
}

#mapa {
  padding: 0;
}

#mapa iframe {
  width: 100%;
}

#tabelas {
  margin: 2em 0;
}
#tabelas header {
  text-align: center;
}

table th, table td {
  text-align: center;
  border: 1px solid #808285;
}

#cardapio header {
  background: url(images/talheres.png) no-repeat center top;
  padding-top: 60px;
}

#cardapio tfoot {
  font-size: 0.8em;
}

#valores header {
  background: url(images/RS.png) no-repeat center top;
  padding-top: 60px;
}

header h2, thead {
  text-transform: uppercase;
}

h3 {
  font-size: 1em;
  margin: 0 auto;
}

header {
	margin-bottom: 50px;
}


/*TABLET*/
@media only screen and (max-width: 950px)
{
	#Text1 {width: 30em!important; text-align: center!important; font-size: 1.5em;}
}

/*MOBILE*/
@media only screen and (max-width: 650px)
{
	#Text1 {width: 15em!important; text-align: center!important; font-size: 1.5em;}
}
